
= autopart_opts('ks[autopart[type]]', @os['options'].detect {|o| o['name'] == 'autopart' })

= checkbox('no_autopart', 'Partition manually')

:javascript
  $('input[type="checkbox"][name="no_autopart"]').on('click', function() {
    var elems = $('input[name="ks[autopart[type]]"]');
    if( $(this).is(':checked') ) {
      elems.prop('disabled', true);
    } else {
      elems.prop('disabled', false);
    }
  });

= bootloader_opts('ks[bootloader[location]]', @os['options'].detect {|o| o['name'] == 'bootloader' } )

