
%label{for: 'usernames'}
  Usernames
  %small
    (No special characters, one name per line)
%textarea#usernames{name: 'auth[users]', cols: 30, rows: 2}

= checkbox('ks[auth[useshadow]]', 'Use shadow passwords', true)

= passalgo_opts('ks[auth[passalgo]]', @os['options'].detect {|o| o['name'] == 'passalgo' })
