
= check_group('Package group selection',
    [{text:'Standard', name:'ks[pkg[groups[standard]]]', checked: true},
     {text:'System-Tools', name:'ks[pkg[groups[system-tools]]]', checked: true},
     {text:'Development tools', name:'ks[pkg[groups[development-tools]]]'},
     {text:'Development libs', name:'ks[pkg[groups[development-libs]]]'},
     {text:'C-Development', name:'ks[pkg[groups[c-development]]]'},
     {text:'Ruby', name:'ks[pkg[groups[ruby]]]', checked: true},
     {text:'Python', name:'ks[pkg[groups[python]]]'},
     {text:'Perl', name:'ks[pkg[groups[perl]]]'},
     {text:'PHP', name:'ks[pkg[groups[php]]]'},
     {text:'Admin-Tools (GUI)', name:'ks[pkg[groups[admin-tools]]]'},
     {text:'Firefox', name:'ks[pkg[groups[firefox]]]'},
     {text:'KDE Desktop', name:'ks[pkg[groups[kde-desktop]]]'},
     {text:'GNOME Desktop', name:'ks[pkg[groups[gnome-desktop]]]'},
     {text:'MariaDB', name:'ks[pkg[groups[mysql]]]'},
     {text:'PostgreSQL', name:'ks[pkg[groups[sql-server]]]'},
     {text:'MongoDB', name:'ks[pkg[groups[mongodb]]]'},
     {text:'Virtualization', name:'ks[pkg[groups[virtualization]]]'}])

= check_group('Package selection',
    [{text:'Wget', name:'ks[pkg[pkgs[wget]]]', checked: true},
     {text:'CURL', name:'ks[pkg[pkgs[curl]]]', checked: true},
     {text:'ACPId', name:'ks[pkg[pkgs[acpid]]]', checked: true},
     {text:'VIM', name:'ks[pkg[pkgs[vim]]]', checked: true},
     {text:'screen', name:'ks[pkg[pkgs[screen]]]', checked: true},
     {text:'OpenSSH Client', name:'ks[pkg[pkgs[openssh-clients]]]', checked: true},
     {text:'HTop', name:'ks[pkg[pkgs[htop]]]', checked: true},
     {text:'Midnight Commander', name:'ks[pkg[pkgs[mc]]]', checked: true},
     {text:'Git', name:'ks[pkg[pkgs[git]]]', checked: true},
     {text:'Postfix', name:'ks[pkg[pkgs[postfix]]]'},
     {text:'MariaDB Devel', name:'ks[pkg[pkgs[mariadb-devel]]]'},
     {text:'Redis', name:'ks[pkg[pkgs[redis]]]'},
     {text:'NodeJS', name:'ks[pkg[pkgs[nodejs]]]'}])
