
%p
  See the
  %a{href: 'https://docs.fedoraproject.org/en-US/Fedora/20/html/Installation_Guide/s1-kickstart2-preinstallconfig.html'}
    Fedora Docs for Pre-install scripts

%textarea{name: 'ks[pre]', cols: 55, rows: 4}
