
%p
  See the
  %a{href: 'https://docs.fedoraproject.org/en-US/Fedora/20/html/Installation_Guide/s1-kickstart2-postinstallconfig.html'}
    Fedora Docs for Post-install scripts

%textarea{name: 'ks[post]', cols: 55, rows: 4}
